*{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue";
}
.dis_flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.radius{border-radius: 5px;}
.top_mb{margin-bottom: 15px;}
li{list-style: none;}
.min_w{min-width: 800px;}
/*$color:#409EFF; */
